---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout titulo="Cursos" palabras="" descripcion="">

 <main>
  <!--seccion 1 -->
   <section class="container-fluid bg-secionintrocursos" id="intro" style="padding: 10%;">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="/images/img-3-cursospage.jpg" width="450" >
          
        </div>
        <div class="col text-center" style="padding: 4%;">
            <h1 class="text-light">¿Quieres Comenzar a Dibujar en DIigtal?</h1>
            <p class="text">Continua en esta pagina y te enseñare como puedes
                realizar esa meta con un poco de mi ayuda y todo tu talento juntos.
            </p>
        </div>
    </div>
   </section>
  <!--seccion 2 -->
   <section class="container-fluid bg-ofrecemos" id="ofrecemos" style="padding: 3%;">
    <div class="row">
         <div class="col text-center">
            <h1 class="text-light">Conoce mi proceso de Dibujo Digital</h1>
         </div>

    </div>
    <div class="row" style="margin: 7%;">
        <div class="card card-colorcursos" style="width: 17rem; margin:auto;">
            <img src="/images/img-2-cursospage.jpg" class="card-img-top" style="margin:auto ; padding:5%;">
            <div class="card-body">
              <p class="card-text">1.-Comencemos realizando un boceto, aqui puedes experimentar y dejar
                salir toda tu creatividad.</p>
            </div>
          </div>
          <div class="card card-colorcursos" style="width: 21rem; margin:auto;">
            <img src="/images/img-5-cursospage.jpeg" class="card-img-top" style="margin:auto ; padding:5%;">
            <div class="card-body">
              <p class="card-text">2.-En cuanto hayas realizado tu boceto toma una foto, oh escanealo
                cuida que la luz no sea un incombeniente
              </p>
            </div>
          </div>
          <div class="card card-colorcursos" style="width: 18rem; margin:auto;">
            <img src="/images/img-3-cursospage.jpg" class="card-img-top" style="margin:auto ; padding:5%;">
            <div class="card-body">
              <p class="card-text">3.-Es momento de realizar el delineado del dibujo, pon la imagen en una capa y comienza a delinear en otra.
              </p>
            </div>
          </div>
          <div class="card card-colorcursos" style="width: 22rem; margin:auto;">
            <img src="/images/img-1-cursospage.jpeg" class="card-img-top" style="margin:auto ; padding:5%;">
            <div class="card-body">
              <p class="card-text">4.-Recuerda! guardar tu trabajo constantemente, ahora es el turno del font-color
                experimenta con tus paletas de color favoritas, agrega algunos detalles a tu gusto.
              </p>
            </div>
          </div>
        
   </div>
   
   </section>
   <!--seccion 3 -->
   <section class="container-fluid bg-persuacion" id="persuasion" style="padding: 7%;">
    <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" src="/images/img-6-cursospage.jpg" width="450" >
              
            </div>
            <div class="col text-center" style="padding: 4%;">
                <h1 class="text-light">¿Dibujar en DIigtal?</h1>
                <p class="text"> Continua practicando, mi formula es solo
                   una de muchas. Experimenta cualsea la forma que mejor te acomodes.
                   
                </p>
            </div>

        
    </div>
   </section>
   
 </main>

 
</Layout>