---
import Layout from "../layouts/Layout.astro";
---

<Layout titulo="Sobre Mi" palabras="" descripcion="">

 <main>
 <!--1er seccion -->
    <section class="container-fluid" id="Sobremi">
        <div class="row">

            <div class="col text-center m-0 p-0">
                <img src="/images/PORTADA-pages-sobremi-cut.png"  width="3000" height="auto" class="img-fluid">

            </div>

        </div>
    </section>
 <!-- 2da seccion Biografia-->
    <section class="container-fluid bg-introsobremi" id="descripcion" style="padding: 3%;">
        <div class="row">
            <div class="mx-auto">
                <img class="img-fluid rounded-circle" src="/images/portada_2.jpg" width="450" >
            </div>
            <div class="text-center tipografia-abrilfat font-color" style="padding: 2%;">
                <h1 style="font-size: 60px;">XoKo</h1>
                
            </div>
              <div class="text-center" style="">
                <p>Soy una artista digital guanajuatense. Desde muy pequeña he tenido esa inquietud por la
                    creatividad y la belleza. 
                    Considero que gran parte de nuestras vidas son complementadas de manera indirecta por aspectos
                    que comparten una singularidad artistica, y pueden ser estos desde un anuncio en la calle hasta nuestra serie favorita.
                </p>
                <p>Me he especializado en las áreas de animación, diseño y fotografía. Anque me he diversificado en muchas de las diciplinas
                    que el arte digital proporciona.
                    
                </p>

            </div>

        </div>
    </section>
 <!--3ra seccion Softwares-->
    <section class="container-fluid bg-softwaresobremi font-color-softwares" id="softwares">
        <div class="text-center tipografia-abrilfat" style="padding: 6%;">
            <h1>Softwares</h1>
      </div>
        <div class="row align-items-start" style="padding:0%;">
            
            <div class="col">
                <img class="img-fluid rounded-circle" src="/images/photoshop-ico.png" width="150" >

            </div>
            <div class="col">
                <img class="img-fluid rounded-circle" src="/images/ilustrador-ico.png" width="150" >

            </div>
            <div class="col">
                <img class="img-fluid rounded-circle" src="/images/indisign-ico.png" width="150" >

            </div>
            <div class="col">
                <img class="img-fluid rounded-circle" src="/images/aftereffects-ico.png" width="150" >

            </div>
            <div class="col">
                <img class="img-fluid rounded-circle" src="/images/maya-ico.png" width="150" >

            </div>

            <div class="row align-items-start text-center" style=" padding-top: 3%;  padding-bottom: 8%;">
                <div class="col ">
                    <h2>68%</h2>

                </div>
                <div class="col ">
                    <h2>60%</h2>

                </div>
                <div class="col">
                    <h2>87%</h2>

                </div>
                <div class="col">
                    <h2>65%</h2>

                </div>
                <div class="col">
                    <h2>50%</h2>

                </div>
                
            </div>

        </div>
    </section>
    <!--4to seccion Link a Curriculum-->
    <section class="container-fluid bg-trayectoriacademica" id="demoreel" style="padding:7%;">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="/images/demoreel-only-img.png" width="450">
            </div>
            <div class="col text-center">
                <h1 class="text-light">¿Aun no estas Interesado?</h1>
                <h3 class="text-light">¡Ve mas Contenido en mi canal de YouTube!</h3>
                <h5 class="text-light">Da click al video de a lado para visitarlo</h5>
            </div>
        </div>
    </section>


 </main>

</Layout>